{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>OceanEscape</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/v4-shims.js"></script>
	<script src="{% static 'MyApp2/script.js' %}"></script>
	<link rel="stylesheet" type="text/css" href={% static "MyApp2/style.css" %}>
	<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
		{% include 'navbar.html'%}
	</div>
</nav>
{% block content %}{% endblock %}
</body>

<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</footer>

</html>