<div class="footer" style="background-color: #FFFFFF">
	<br>
	<div class="row">
		<div class="col-md-1 mb-md-0 mb-1">
			 <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69366.svg">
		</div>
		<div class="col-md-1 mb-md-0 mb-1">
			 <img class="responsive" src="https://image.flaticon.com/icons/svg/69/69480.svg">
		</div>
	</div>
</div>
