{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>OceanEscape</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/v4-shims.js"></script>
	<script src="{% static 'MyApp2/script.js' %}"></script>
	<link rel="stylesheet" type="text/css" href={% static "MyApp2/style.css" %}>
	<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
		<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-logo rounded-circle" href=".."><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42743592_544158646036454_4740123858613305344_n.jpg?_nc_cat=107&oh=3b780162c89fed8b3b958cace2384b5d&oe=5C235A52" style="display : inline-block" width="80" height="80"></a>
			{% include 'navbar.html'%}
		</div>
		</nav>
		<h1>Hello, good people!</h1>
		<button class="nightbutton">Night View</button>
		<hr/>
		<div class="container">
			<div class="myform">
				<form id="form" method="POST" action="{% url 'MyApp2:add_status' %}">
					<h2>Enter your status here</h2>
					{% csrf_token %}
					{{ stats }}
					<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
					<br>
				</form>
			</div>
		</div>


		<div style="margin: 5% 5%">
			<h2>My Status</h2>
			<div style = "width: 80%">
				<table class="table" border="#0000" style="width: 100% margin: 0 0;">
					<tr background-color="#ffff">
					<th style="width: 50%">Status</th>
					<th style="width: 50%">Date</th>
				   </tr>
				   {%for e in status%}
				   <tr background-color=#ffff>
					<td>{{e.description}}</td>
					<td>{{e.created_date}}</td>
				   </tr>
				   {%endfor%}
				</table>
			</div>
		</div>

		<h2>More about me</h2>
		<br>
		<button class="accordion">My Activities</button>
		<div class="panel">
		  <p>Mangan<br>Turu<br>Mencoba Lulus</p>
		</div>

		<button class="accordion">My Experiences</button>
		<div class="panel">
		  <p>Volunteering</p>
		</div>

		<button class="accordion">My Achievements</button>
		<div class="panel">
		  <p>lol, maybe in another life</p>
		</div>
		<footer>
		<!-- TODO Block Footer dan include footer.html -->
		{% block footer %}
		{% include "footer.html" %}
		{% endblock %}
		</footer>
	</div>
	
</body>
</html>