{% load static %}
{% block content %}
<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'MyApp2:index' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'MyApp2:profil' %}">About</a>
			</li>
</ul>
{% endblock %}