{% extends "base.html" %}
{% block content %}
<div class="split left">
  <div class="centered">
    <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42635985_544158369369815_1603846130989268992_n.jpg?_nc_cat=108&oh=c4256a34b01cc37483d4571b61e4ac31&oe=5C226924" alt="photo of hana">
    <h1>Dramatic.<br>Traumatic.<br>Sarcastic.</h1>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2>As the years go by ...</h2>
    <p>
		'99 : Was born in Bogor<br>
		'05 : Entered SD Kesatuan Bogor<br>
		'11 : Entered SMPN 2 Bogor<br>
		'14 : Entered SMAN 1 Bogor<br>
		'17 : Entered University of Indonesia<br>
		'18 : Became Asian Games Volunteer
	</p>
	<h2>A little insight about me ...</h2>
	<p>
		My hometown is in Bogor<br>
		My passion are cooking and gardening<br>
		I hope you can get to know me better!
	</p>
  </div>
</div>
{% endblock %}
</html>