@import url("https://fonts.googleapis.com/css?family=Prata:400,500,700")
html, body{
	height: 100%;
	width: 100%;
	font-family: "Prata";
}


footer{
	background-color: #000;
}

/*NAVBAR*/
.navbar{
	padding: 6px;
	color: #fff;
	background-color: #ffffff;
}
.navbar-nav li{
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
	color: #fff;
}
.navbar-logo{
	border-radius: 50%;
}
.nav-link{
	font-size: 20px !important;
}

p.display-3{
	letter-spacing:15px;
}

/*ABOUT PAGE*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
	font-family: "Prata";
}

.left {
    left: 0;
    background-color: #222D3F;
	color: #F2B134;
}

.right {
    right: 0;
    background-color: #335941;
	color: #FB5941;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 350px;
    border-radius: 50%;
}

/*STATUS PAGE*/
.myform {
	padding-top: 40px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/*VIEW OPTION*/
.nightbutton {
    background-color: #222D3F;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 9px 4px;
    cursor: pointer;
}

/*ACCORDION MENU*/
.accordion {
    background-color: #eee;
    color: #00ADB5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}